body{
	background: #ffbaba;
}
#container{
	margin: 60px auto;
	width: 960px;
}
.gw-inner{
	min-height: 80px;
	background: #fff;
	padding: 10px;
	border-radius: 4px;
}
b, span.gras{
	font-weight: bold;
}
i{
	font-style: italic;
}
sub, sup { 
	font-size: .83em; 
}
sup{
	vertical-align: super ;
}
sub{
	vertical-align: sub ;
}
span.barre {
    text-decoration: line-through ;
}

span.souligne {
    text-decoration: underline;
}

span.rouge {
    color: red;
}

span.bleu {
    color: blue;
}

span.vert {
    color: green;
}
span.norm{
	vertical-align: center;
	text-decoration: none;
	color: black;
	font-style: none;
	font-weight: normal;
	font-size: 1em;
}